:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 75px;

  color: #000000;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  
}

#clock {
  position: absolute;
  left: 35%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(180deg);
  
  text-align: center;
}